<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethanzyc.commons.business.mapper.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ethanzyc.commons.business.domain.Shop">
        <id column="id" property="id" />
        <result column="company_no" property="companyNo" />
        <result column="name" property="name" />
        <result column="short_name" property="shortName" />
        <result column="address" property="address" />
        <result column="company_logo" property="companyLogo" />
        <result column="service_phone" property="servicePhone" />
        <result column="introduce" property="introduce" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_no, name, short_name, address, company_logo, service_phone, introduce, state, create_time, update_time
    </sql>

</mapper>
